# API server port
PORT=4000

# MongoDB URL. Docker version
MONGO_URL=mongodb://mongodb:27017/hawk

# JWT token secret
JWT_SECRET=abacaba

# Yandex mail settings

## Yandex SMTP server adress
YANDEX_MAIL_HOST=smtp.yandex.ru

## Yandex SMTP server port
YANDEX_MAIL_PORT=465

## Yandex SMTP server username
YANDEX_MAIL_USERNAME=me@yandex.ru

## Yandex SMTP server password
YANDEX_MAIL_PASSWORD=your password

## Yandex sender info
YANDEX_SENDER_NAME=hawk.so
YANDEX_SENDER_ADDRESS=me@yandex.ru
