# API server port
PORT=4000

# Hawk API database URL
MONGO_HAWK_DB_URL=mongodb://mongodb:27017/hawk

# Events database URL
MONGO_EVENTS_DB_URL=mongodb://mongodb:27017/hawk_events

# JWT token secret
JWT_SECRET=abacaba

# JWT token secret for events (used in catcher)
JWT_SECRET_EVENTS=qwerty

# Option to enable playground (if true playground will be available at /graphql route)
PLAYGROUND_ENABLE=false

# SMTP mail settings

## SMTP server adress
SMTP_HOST=smtp.yandex.ru

## SMTP server port
SMTP_PORT=465

## SMTP server username (for examle, from your Yandex account)
SMTP_USERNAME=

## SMTP server password (for examle, from your Yandex account)
SMTP_PASSWORD=

## Sender name
SMTP_SENDER_NAME=

## Mail from which letters are sent
SMTP_SENDER_ADDRESS=

## GitHub OAuth app client ID
GITHUB_CLIENT_ID=

## GitHub OAuth app clinet secret
GITHUB_CLIENT_SECRET=

## Hawk API public url (used in OAuth to redirect to callback, should match OAuth app callback URL)
API_URL=http://127.0.0.1:4000

## Garage login url
GARAGE_LOGIN_URL=http://127.0.0.1:8080/login
